# Entorno virtual
venv/
.venv/
env/

# Variables de entorno (NUNCA subir a git)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
tmp/
temp/
*.tmp
